<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Local Notification Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="requestPermission()">
    Request Notification Permission
  </ion-button>

  <ion-text color="primary">
    <p *ngIf="permissionStatus">Permission: {{ permissionStatus }}</p>
  </ion-text>

  <ion-button expand="block" color="success" (click)="sendNotification()">
    Send Notification
  </ion-button>
</ion-content>
 -->
