ion-checkbox {
    --background: transparent;
    --border-color: blue;
    --checkmark-color: blue;
  }
  
  ion-toggle {
    --background: transparent;
    --handle-background-checked: blue;
    --handle-background: lightgray;
    --handle-border-radius: 50%;
  }
  
  ion-range {
    --bar-background-active: blue;
    --bar-background: lightgray;
    --knob-background: blue;
  }